body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0B1120;
    color: #E5E7EB;
}

/*  SIDEBAR  */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100vh;
    background-color: #0F172A;
    border-right: 1px solid #1F2937;
    padding: 20px;
    box-sizing: border-box;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 18px;
    font-weight: 600;
    color: #E5E7EB;
    margin: 20px 0;
}

.logo-icon {
    width: 38px;
    height: 38px;
    background-color: rgba(59,130,246,0.1);
    color: #3B82F6;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-icon svg {
    width: 20px;
    height: 20px;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    margin-bottom: 10px;
}

.menu a {
    text-decoration: none;
    display: block;
    padding: 10px 12px;
    border-radius: 8px;
    color: #9CA3AF;
    transition: 0.3s;
}

.menu a:hover {
    background-color: #1E293B;
    color: #E5E7EB;
}

.menu .active a {
    background-color: #1E293B;
    color: #3B82F6;
}

/*  MAIN CONTENT  */
.main-content {
    margin-left: 250px;
    padding: 40px;
    animation: transisi 1s;
}

@keyframes transisi {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/*  HEADER  */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

/*  SUMMARY  */
.summary {
    display: flex;
    gap: 20px;
    margin-bottom: 25px;
}

.summary-card {
    flex: 1;
    background-color: #111827;
    border: 1px solid #1F2937;
    border-radius: 16px;
    padding: 20px;
}

.summary-card p {
    margin: 0;
    color: #9CA3AF;
}

.summary-card h3 {
    margin-top: 10px;
}

/*  TABLE  */
.table-wrapper {
    background-color: #111827;
    border: 1px solid #1F2937;
    border-radius: 16px;
    overflow: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #1E293B;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    color: #9CA3AF;
}

tbody tr {
    border-top: 1px solid #1F2937;
}

tbody tr:hover {
    background-color: #1E293B;
}

.badge {
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 500;
}

.lunas {
    background-color: rgba(34,197,94,0.15);
    color: #22C55E;
}

.hutang {
    background-color: rgba(239,68,68,0.15);
    color: #EF4444;
}

.btn-update {
    background-color: #1E293B;
    border: none;
    padding: 6px;
    border-radius: 8px;
    cursor: pointer;
    color: #60A5FA;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.btn-update:hover {
    background-color: #2563EB;
    color: white;
    transform: rotate(90deg);
}