body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0B1120;
}

/* SideBar */

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100vh;
    background-color: #0F172A;
    border-right: 1px solid #1F2937;
    padding: 20px;
    box-sizing: border-box;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 18px;
    font-weight: 600;
    color: #E5E7EB;
    margin: 20px 0;
}

.logo-icon {
    width: 38px;
    height: 38px;
    background-color: rgba(59,130,246,0.1);
    color: #3B82F6;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-icon svg {
    width: 20px;
    height: 20px;
}

/* Menu */
.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    margin-bottom: 10px;
}

.menu a {
    text-decoration: none;
    display: block;
    padding: 10px 12px;
    border-radius: 8px;
    color: #9CA3AF;
    transition: 0.3s;
}

.menu a:hover {
    background-color: #1E293B;
    color: #E5E7EB;
}

.menu .active a {
    background-color: #1E293B;
    color: #3B82F6;
}


/* Main Content */

.main-content {
    margin-left: 250px;   /* sesuai lebar sidebar */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: transisi 1.2s;
}

@keyframes transisi {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* Form Transaksi */

.form-card {
    width: 450px;
    background-color: #111827;
    border: 1px solid #1F2937;
    border-radius: 18px;
    padding: 35px;
    color: #E5E7EB;
}

.form-card h2 {
    margin: 0 0 25px;
}

.form-group {
    margin-bottom: 18px;
}

.form-group label {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
    color: #9CA3AF;
}

.form-group input {
    width: 100%;
    padding: 10px 12px;
    border-radius: 10px;
    border: 1px solid #1F2937;
    background-color: #0F172A;
    color: #E5E7EB;
    outline: none;
    transition: 0.3s;
}

.form-group select {
    width: 105.5%;
    padding: 10px 12px;
    border-radius: 10px;
    border: 1px solid #1F2937;
    background-color: #0F172A;
    color: #E5E7EB;
    outline: none;
    transition: 0.3s;
}

.form-group input:focus {
    border-color: #3B82F6;
}

.btn-primary {
    margin-top: 10px;
    background-color: #3B82F6;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 10px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #2563EB;
}